.addmenu {
    position: fixed;
    width: 80%;
    height: 85%;
    left: calc(10% - 10px);
    top: 5%;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.instructions {
    position: relative;
    margin-left: 10px;
    width: calc(45% - 80px);
    height: 30px;
}

.features {
    margin-top: 60px;
    flex-direction: column;
    margin-left: 10px;
    width: 50%;
}

.feature {
    margin-bottom: 10px;
}

.feature-label {
    float: left;
    width: 100px;
    margin: 5px;
    display: block;
    text-align: center;
}

.feature-bar {
    position: relative;
    display: inline-block;
    top: 2px;
    width: calc(90% - 150px);
    margin: 5px;
}

.feature-value {
    width: 30px;
    margin-right: 30px;
    float: right;
    text-align: center;
}

.search {
    position: absolute;
    height: 35px;
}

.search-results {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    float: right;
    text-align: center;
    width: 50%;
    overflow: hidden;
}


.preview-image {
    float: left;
    height: 100%;
    margin-right: 5px;
    overflow: hidden;
}

.preview-name {
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 2.6em;
}

.preview-artist {
    overflow: hidden;
    text-overflow: ellipsis;
}

.result {
    height: calc(20% - 5px);
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
}

.track-info {
    height: 100%;
    width: calc(100% - 50px);
}

.track-info:hover {
    background-color: rgb(30, 180, 61);
}

.playing {
    background-color: rgb(30, 150, 61);
}

.preview-status {
    position: absolute;
    right: 100px;
}

.add-track {
    position: relative;
    bottom:65%;
    height: 30%;
    width: 32px;
    float: right;
}

.added {
    text-align: center;
    font-size: 22px;
    background-color: rgb(150, 150, 150);
    border: none;
    border-radius: 25px;
    color: white;
  }

@media screen and (min-width: 901px) {
    .addmenu {
    }

    .search-results {
        height: 80%;
    }
}

@media screen and (max-width: 900px) {


    .addmenu {
        font-size: small;
    }
    .feature-label {
        width: 80px;
    }
}



@media (orientation:landscape) {
    .features {
        width: 45%;
        position: relative;
    }

    .search-results {
        width: 50%;
        height: 100%;
    }

    .search {
        top: 295px;
        left: calc(25% - 47px);
    }

    @media screen and (max-height: 600px) {
        .result {
            height: calc(33.4% - 5px);
        }
    }

    @media screen and (max-height: 370px) {
        .feature {
            margin-bottom: 0;
        }
    
        .search {
            top: 245px;
        }
    
    }
}

@media (orientation:portrait) {
    .instructions {
        width: 65%;
    }

    .features {
        width: 100%;
    }

    .search-results {
        width: 100%;
        height: 45%;
        position: relative;
        bottom: 20px;
    }

    .search {
        left: calc(50% - 47px);
        bottom: 10px;
    }

    .result {
        height: calc(33.4% - 5px);
    }
}

